.sessions
  %h2 Registrarse

  = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    = f.error_notification
    = f.input :email, :autofocus => true, :input_html => {:size => 30}, :label => 'Email:'
    = f.input :password, :input_html => {:size => 20}, :label => 'Contraseña:'
    = f.input :password_confirmation, :input_html => {:size => 20}, :label => 'Confirmar contraseña:'
    = f.button :submit, "Regístrate", :class => 'btn large primary'

  = render :partial => "devise/shared/links"