- if current_user and current_user==@user
  - if current_user.email = 'robot@vaope.com'
    .alert-message.warning
      %a.close{:href => '#'}×
      %p
        %strong
          Debes cambiar tu correo para poder enviarte notificaciones :(
%h2= @user.name

%ul.places
  - @user.places.each do |place|
    %li
      %h3
        %a{:href => place_path(place)}
          = place.name
      %small= place.address
      .content
        %a{:href => place_path(place)}
          = image_tag place.static_map(:thumb), :class => 'map', :alt => place.name, :title => place.name
        = place.description.html_safe