.places
  %h2 Editar '#{@place.name}'

  = render 'form'

- content_for :script do
  = include_tiny_mce_if_needed
  = javascript_include_tag 'http://maps.google.com/maps/api/js?sensor=true'
  = javascript_include_tag 'gmaps'
  = javascript_include_tag 'places'