.row
  .span11.columns
    %h2= @place.name
    %h3= @place.address
    = @place.description.html_safe
    = image_tag @place.static_map(:large), :class => 'map', :alt => @place.name, :title => @place.name
  .span5.columns
    .place_actions.well.block
      %a.btn.share{:href => "#share_#{@place.id}"} Compartir
      - if current_user && @place.user && @place.user==current_user
        %a.btn{:href => edit_place_path} Editar
        %a.btn.danger{:href => place_path} Eliminar
      .share_options{:id => "share_#{@place.id}"}
        .arrow
        .inner
          %ul.unstyled
            %li
              %a.share_link#share_twitter{:href => 'https://twitter.com/share'} Twitter
            %li
              %a.share_link#share_facebook{:href => "http://www.facebook.com/sharer.php?u=#{URI.escape(place_url(@place))}"} Facebook
    .place_actions.block
      Creado por
      %a{:href => user_path(@place.user)}
        %img.user_avatar{:src => @place.user.avatar}
        = @place.user.name
    - if @place.nearbys(0.93205678).all.count > 0
      .block
      %h3 Está cerca a...
      - @place.nearbys(0.93205678).all.each do |place|
        %ul.unstyled.list
          %li
            %h4
              %a{:href => place_path(place)}
                = place.name
                %small
                  &mdash;
                  = place.address
            - if place.category
              %a.btn.info.smaller{:href => category_path(place.category)}
                = place.category.name