!!!
%html
  %head
    %title= site_title
    = stylesheet_link_tag :all
    = javascript_include_tag 'jquery.min'
    = javascript_include_tag 'http://maps.google.com/maps/api/js?sensor=true'
    = javascript_include_tag :defaults
    = csrf_meta_tag
    = opengraph_tags
    %meta{:content => "initial-scale=1.0, user-scalable=no", :name => "viewport"}/
  %body
    #header
      %h1
        %a{:href => root_path}= site_title
    #body
      = yield
    #footer