!!!
%html
  %head
    %title= site_title
    = stylesheet_link_tag 'bootstrap'
    = stylesheet_link_tag 'style'
    = stylesheet_link_tag 'additional'
    = javascript_include_tag 'jquery.min'
    = javascript_include_tag :defaults
    = yield :script
    = csrf_meta_tag
    = opengraph_tags
    %meta{:content => "initial-scale=1.0, user-scalable=no", :name => "viewport"}/
  %body
    #header
      %h1
        %a{:href => root_path}= site_title
      - if user_signed_in?
        = render 'layouts/user_options'
      - else
        %ul#user_options
          %li.sign_in
            %a.btn.success{:href => sign_in_path} Entrar
            %ul.auth_options
              %li.twitter
                %a{:href => '/auth/twitter'}
                  %img{:src => '/images/twitter_32.png'} Twitter
              %li.facebook
                %a{:href => '#/auth/facebook'}
                  %img{:src => '/images/facebook_32.png'} Facebook
    #body
      = yield
    #footer